services:
  migrations:
    image: vortextcg/vortex_repository:migrations
    pull_policy: always
    env_file:
      - .env
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5

  auth:
    image: vortextcg/vortex_repository:auth
    pull_policy: always
    env_file:
      - .env
    ports:
      - "${AUTH_PORT}:${AUTH_INTERNAL_PORT}"
    depends_on:
      migrations:
        condition: service_completed_successfully

  game:
    image: vortextcg/vortex_repository:game
    pull_policy: always
    env_file:
      - .env
    ports:
      - "${GAME_PORT}:${GAME_INTERNAL_PORT}"
    depends_on:
      migrations:
        condition: service_completed_successfully

  api:
    image: vortextcg/vortex_repository:api
    pull_policy: always
    env_file:
      - .env
    ports:
      - "${API_PORT}:${API_INTERNAL_PORT}"
    depends_on:
      migrations:
        condition: service_completed_successfully
