services:
  migrations:
    build:
      context: .
      dockerfile: ./apps/migrations/Dockerfile
    env_file:
      - .env
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5

  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
    env_file:
      - .env
    ports:
      - "${AUTH_PORT}:${AUTH_INTERNAL_PORT}"
    depends_on:
      migrations:
        condition: service_completed_successfully

  game:
    build:
      context: .
      dockerfile: ./apps/game/Dockerfile
    env_file:
      - .env
    ports:
      - "${GAME_PORT}:${GAME_INTERNAL_PORT}"
    depends_on:
      migrations:
        condition: service_completed_successfully

  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - .env
    ports:
      - "${API_PORT}:${API_INTERNAL_PORT}"
    depends_on:
      migrations:
        condition: service_completed_successfully
