@font-face {
    font-family: 'BPimperial';
    src: url('BPimperial.eot'); /* IE9 Compat Modes */
    src: url('BPimperial.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPimperial.woff') format('woff'), /* Modern Browsers */
         url('BPimperial.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}