name: Deploy to EC2

on:
  pull_request:
    types:
      - closed
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull new Docker images
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/vortex-auth:latest
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/vortex-game:latest
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/vortex-api:latest

      - name: Create env file on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/vortex_tcg/server
            cat > .env << EOF
            AUTH_PORT=${{ secrets.AUTH_PORT }}
            AUTH_INTERNAL_PORT=${{ secrets.AUTH_INTERNAL_PORT }}
            GAME_PORT=${{ secrets.GAME_PORT }}
            GAME_INTERNAL_PORT=${{ secrets.GAME_INTERNAL_PORT }}
            API_PORT=${{ secrets.API_PORT }}
            API_INTERNAL_PORT=${{ secrets.API_INTERNAL_PORT }}
            ASP_NETCORE_ENVIRONMENT=${{ secrets.ASP_NETCORE_ENVIRONMENT }}
            SONARQUBE_PORT=${{ secrets.SONARQUBE_PORT }}
            EOF

      - name: Start services
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/vortex_tcg/server
            docker-compose -f docker-compose.prod.yaml up -d --build

      - name: Clean up unused Docker resources
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
