name: Build, Analyze and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sonarqube:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: "zulu"

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarQube scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarQube scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin `
            /k:"vortex-tcg_vortex_tcg_AZtcdGF7TY20pLe9RlcU" `
            /n:"Vortex TCG" `
            /v:"1.0" `
            /d:sonar.token="$env:SONAR_TOKEN" `
            /d:sonar.host.url="$env:SONAR_HOST_URL" `
            /d:sonar.cs.opencover.reportsPaths="**/TestResults/**/coverage.opencover.xml" `
            /d:sonar.coverage.exclusions="**/Migrations/**,**/Program.cs"

          dotnet build VortexTCG.sln --configuration Release

          dotnet test VortexTCG.sln --configuration Release --no-restore --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover

          if ($LASTEXITCODE -ne 0) { Write-Host "Tests en échec, le déploiement continue" }

          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="$env:SONAR_TOKEN"

  deploy:
    name: Deploy to EC2
    needs: sonarqube
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    environment: production
    steps:
      - name: Pull latest code on EC2
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/vortex_tcg
            git remote set-url origin git@github.com:vortex-tcg/vortex_tcg.git
            git fetch --all
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}
      - name: Pull new Docker images
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/vortex_tcg/server
            docker compose down
            docker system prune -a -f
            docker pull vortextcg/vortex_repository:api
            docker pull vortextcg/vortex_repository:game
            docker pull vortextcg/vortex_repository:auth
            docker pull vortextcg/vortex_repository:migrations
            docker logout
      - name: Create env file on server
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/vortex_tcg/server
            cat > .env << EOF
            AUTH_PORT=${{ secrets.AUTH_PORT }}
            AUTH_INTERNAL_PORT=${{ secrets.AUTH_INTERNAL_PORT }}
            GAME_PORT=${{ secrets.GAME_PORT }}
            GAME_INTERNAL_PORT=${{ secrets.GAME_INTERNAL_PORT }}
            API_PORT=${{ secrets.API_PORT }}
            API_INTERNAL_PORT=${{ secrets.API_INTERNAL_PORT }}
            ASP_NETCORE_ENVIRONMENT=${{ secrets.ASP_NETCORE_ENVIRONMENT }}
            SONARQUBE_PORT=${{ secrets.SONARQUBE_PORT }}
            DB_NAME=${{ secrets.DB_NAME }}
            DB_USERNAME=${{ secrets.DB_USERNAME }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            DB_PORT=${{ secrets.DB_PORT }}
            CONNECTION_STRING=${{ secrets.CONNECTION_STRING }}
            EOF
      - name: Start services
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/vortex_tcg/server
            docker compose -f docker-compose.prod.yaml up -d --remove-orphans
      - name: Ensure SonarQube is running with persistence
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            if [ ! "$(docker ps -q -f name=sonarqube)" ]; then
                docker rm -f sonarqube || true
                docker run -d --name sonarqube \
                  -p ${{ secrets.SONARQUBE_PORT }}:9000 \
                  -e SONAR_WEB_CONTEXT=/sonarqube \
                  -v /var/sonarqube/data:/opt/sonarqube/data \
                  -v /var/sonarqube/logs:/opt/sonarqube/logs \
                  -v /var/sonarqube/extensions:/opt/sonarqube/extensions \
                  --restart always \
                  sonarqube:lts
            else
                echo "SonarQube is already running, skipping."
            fi
