name : Run Unit Test

on:
  workflow_dispatch: 
  push:
    branches:
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      - name: Set up dotnet 
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0
          
      - name: Restore Dependencies 
        run : dotnet restore ./server/tests/Tests.csproj